@model List<Portfolio>
<div class="card-body">
    <h4>Index Page</h4>
    <div class="table-responsive pt-3">
        <a class="btn btn-lg btn-outline-dark" asp-controller="portfolio" asp-action="create">Create Image</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var portfolio in Model)
                {

                    <tr class="table-warning">
                        <td>
                            @portfolio.Id
                        </td>
                        <td>
                            <img src="~/assets/image/@portfolio.Image"/>
                        </td>
                        <td class="d-flex">
                            <div>
                                <a asp-controller="portfolio" asp-action="detail" asp-route-id="@portfolio.Id" class="btn btn-outline-primary">Detail</a>
                            </div>
                            <div class="ms-3">
                                <a asp-controller="portfolio" asp-action="edit" asp-route-id="@portfolio.Id" class="btn btn-outline-warning">Edit</a>
                            </div>
                            <div class="ms-3">
                                <a asp-controller="portfolio" asp-action="delete" asp-route-id="@portfolio.Id" class="btn btn-outline-danger">Delete</a>
                            </div>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>